*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}
nav{
    background-color: inherit;
}

nav ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style-type: none;
    width: 150px;
    float: left;
    text-align: center;
}
nav a{
    display: block;
    font-family: 'DM Sans', sans-serif;
    flex-basis: auto;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color:black;
    
    float:right;
}

nav ul li a:hover{
    color: white;
    transition: .45s; 
}

body{
    background: rgba(0, 174, 255, 0.69);
    overflow-x: hidden;
}


#greeting {
     text-align: center;
     font-family: 'Roboto Condensed', sans-serif;
     font-size: 60px;
}   
#main{
    max-width: 25%;
    height: auto;
    justify-content: center;
    padding-left:35%;
    padding-top: 5%;
    padding-right: 0;
}
/*
This is the ground area to work on the css and html
*/
.introduction {
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    padding-right: 25%;
    padding-top: 5%;
    list-style-type: none;
    
}

.intro{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.name{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 6px;
    list-style-type: none;
    text-decoration: none;
    color: black;
    overflow:hidden;
}
#socials:hover{
    color: white;
    transition: .45s; 
}

.aboutMe{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: medium;
    word-wrap: break-word;
    width: 100%;
}
.meAbout{
    margin-left:auto;
    margin-right:auto;
    padding-left: 10%;
}
.ground{
   
    height: 45%;
    background: #50C878;
    position:fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow:auto;

    
}

#Name {
    overflow:auto;  
    font-size: 40px;
    text-align: center;
}



/*
    clouds and how they move
*/

@keyframes cloudAnimation {
    0%{margin-left: -1000px;}
    100%{margin-left: 100%;}
}

.cloud_x1 {
    animation: cloudAnimation 15s linear infinite;
    transform: scale(.35);
}

.cloud_x2 {
    animation: cloudAnimation 10s linear infinite;
    transform: scale(.25);
}
.cloud_x3 {
    animation: cloudAnimation 30s linear infinite;
    transform: scale(.15);
}
.cloud_x4 {
    animation: cloudAnimation 40s linear infinite;
    transform: scale(.175);
}
.cloud_x5 {
    animation: cloudAnimation 50s linear infinite;
    transform: scale(.05);
}

#cloud {
    background: white;
    background: linear-gradient(top,white 5%, #f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white',endColors = "#f1f1f1",GradientType = 0);
    border-radius: 100px;
    box-shadow: 0 8px 5px rgba(0,0,0,0.1);
    height: 120px;
    position: relative;
    width: 350px;
}


.portfolio {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: auto;
    text-align: center;
}

.research {
    width: 25%;
    padding-left: 5%;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 20px;
    padding-right: 25%;
}
.vibe{
    width: 25%;
    
    float: left;
    top: 10%;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 20px;
    padding-left: 25%;
}

.service{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size:medium;
    padding-left: 25%;
}

.sep:hover{
    color: white;
    transition: .45s; 
}